body {
   font-family: 'Times New Roman', Times, serif;
   font-size: 18px; 
}

header, footer {
    background-color: antiquewhite;
}

.site-title {
    color: navy;
}

#my-image {
    box-shadow: 0px 0px 2px 1px black;
}

ul:nth-child(odd) {
    background-color: blanchedalmond;
}

ul {
    list-style-type: square;
}

a:link {
    text-decoration:none;
    background-color: grey;
    border: 1px solid black;
}

a:hover {
    background-color: greenyellow;
}
