/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Add google font open sans */
body{
    font-family: "Open Sans", sans-serif;
}

/* Using box sizing to make sure the padding and margin we added won't affect the designed box size*/
*{
    box-sizing: border-box;
}

.wrapper{
    max-width: 1200px;

}

header {
    background-color: #222;
}

.mainnav>li{
    float: none;
    width: 100%;
    list-style: none;
    background-color: #222;
}

.mainnav a{
    color: #c78c06;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
/* Change the navigation color when the mouse hover on it */
.mainnav a:hover{
    color: #222;
    background-color: #c78c06;
}

.search-box{
display: flex;
width: 100%;
padding: 15px;
}

.search-bar{
    flex: 1;
    padding: 15px;
}

.fa-magnifying-glass{
    padding: 15px;
    font-size: 1.5em;
    color: #c78c06;
    border: 1px solid #c78c06;
}

.welcome{
    background-image: url("../image/main-banner.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 600px;
    position: relative;
}

.wrapper2{
    padding: 50px;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    bottom: 10%;
    top: 10%; 
    text-align: left;
    margin-left: 0;
    padding-left: 15px;

}

h1 {
    font-size: 4rem;
    font-weight: bolder;
    margin: 3rem 3rem 3rem 0;
    
}

.orange-box{
    display: inline-block;
    background-color: #c78c06;
    padding: 3%;
    margin-top: 2%;
}

.orange-box a{
    text-decoration: none;
    color: #222;
}

.aboutus{
    padding: 10px;
    background-color: #ffe6ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.aboutpic{
    max-width: 100%;
    height: auto;
}


h2{
    font-size: 2rem;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}


.service{
    background-color: #ffe6ac;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}



h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

p{
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

h4.o{
    background-color: #222;
    padding: 15px;
    display: inline-block;
    margin-bottom: 15px;
}

h4 a{
    text-decoration: none;
    color: white;
}

.container-vision{
    background-image: url("../image/vision.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    height: 300px;
    position: relative;
    color: white;
}

.content-vision{
    position: absolute;
    top: 25%;
}

.black{
    background-color: #222;
    display: inline-block;
    padding: 15px;
    border: 1px solid #c78c06;
}

.team{
    background-color: #ffe6ac;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}

hr{
    border:1px solid #c78c06;
}

#name, #email, #message{
    display: block;
    width: 99%;
}

table{
    width: 100%;
    text-align: center;
}

th, td{
    border: 1px solid #222;
    padding: 15px;
}

th{
    background-color: #ffe6ac;
}

.map {
    border: 0;
    width: 100%;
    height: 300px;
}


footer{
    background-color: #222;
    color: #c78c06;
    padding: 15px;
}

@media screen and (min-width: 760px){
    .mainnav{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #222;
   }
    
    .mainnav li{
        float: left;
        width: auto;
    }

    .mainnav a {
        display: block;
        color: #c78c06;
        text-align: center;
        padding: 15px;
        text-decoration: none;
    }

    .mainnav a:hover {
        background-color: #c78c06;
        color: #222;
    }
    
    .aboutus {
        flex-direction: row;
    }
}